*, *::after, *::before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  position: relative;
  font-family: 'Montserrat', sans-serif;
}

.blue-text {
  color: #039dff;
}

.wrapper {
  max-width: 2560px;
  width: 80%;
  margin: 0 auto;
}

h2 {
  text-transform: uppercase;
  text-align: center;
}

.underline {
  margin: 0 auto 40px;
  width: 120px;
  height: 4px;
  background-color: #039dff;
}

.scroll-fix::before {
  content: "";
  display: block;
  height: 66px;
  margin-top: -66px;
}

.visibility {
  visibility: hidden;
}

.jumbotron {
  margin: 0;
  background-image: linear-gradient(315deg, #ffffff 0%, #d7e1ec 74%);
  background-attachment: fixed;
}

nav {
  text-transform: uppercase;
  -webkit-transition: background-color .6s linear;
  transition: background-color .6s linear;
}

nav a, nav i {
  color: #fff;
  -webkit-transition: color .3s;
  transition: color .3s;
}

nav i {
  padding: 10px;
}

nav .navbar-brand {
  font-weight: bold;
}

nav .active {
  color: #039dff;
}

.shadow-bg {
  background-color: rgba(0, 0, 0, 0.8);
}

header {
  color: #fff;
  overflow: hidden;
}

header h1 {
  padding: 10px;
  text-transform: uppercase;
  font-size: 30px;
}

header .hero-img {
  position: relative;
  height: 100vh;
  background-image: url("../img/headerhd.jpg");
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  z-index: 0;
}

header .hero-bg {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.65);
  z-index: -10;
}

header .hero-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
  text-align: center;
}

header .hero-text p {
  padding: 10px;
  font-size: 14px;
}

header .fa-chevron-down {
  display: none;
}

#aboutme i {
  font-size: 30px;
  margin-top: 20px;
}

#aboutme h3 {
  font-size: 18px;
  text-transform: uppercase;
}

#aboutme p {
  font-size: 14px;
}

#aboutme .aboutme-hover {
  visibility: hidden;
  -webkit-transition: color .3s;
  transition: color .3s;
}

#aboutme .aboutme-hover:hover {
  color: #039dff;
}

.react {
  color: #61dbfb;
}

.angular {
  color: #fc6c5c;
}

.vuejs {
  color: #42b883;
}

#portfolio .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: space-evenely;
      -ms-flex-align: space-evenely;
          align-items: space-evenely;
  gap: 40px;
  width: 100%;
  height: 100%;
  margin-top: 80px;
}

#portfolio .middle {
  position: relative;
  border: 2px solid black;
  width: 20%;
  height: 480px;
  border-radius: 50px;
}

#portfolio .card {
  cursor: pointer;
  width: 300px;
  height: 480px;
  border: none;
  background: none;
  text-align: center;
  border-radius: 50px;
}

#portfolio .front, #portfolio .back {
  width: 100%;
  height: 100%;
  overflow: hidden;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  position: absolute;
  -webkit-transition: -webkit-transform .6s linear;
  transition: -webkit-transform .6s linear;
  transition: transform .6s linear;
  transition: transform .6s linear, -webkit-transform .6s linear;
  border-radius: 50px;
}

#portfolio .front .img {
  height: 100%;
  background-size: cover;
  background-position: center;
  border-radius: 50px;
}

#portfolio .front .img-1f {
  background-image: url("../img/portfolio.png");
}

#portfolio .front .img-2f {
  background-image: url("../img/passgen.jpg");
}

#portfolio .front .img-3f {
  background-image: url("../img/project3f.jpg");
  background-position: top;
}

#portfolio .front .img-4f {
  background-image: url("../img/project4f.jpg");
}

#portfolio .front {
  -webkit-transform: perspective(600px) rotateY(0deg);
          transform: perspective(600px) rotateY(0deg);
}

#portfolio .bg {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.75);
  border-radius: 50px 50px 0 0;
}

#portfolio .bg h2 {
  color: #fff;
  font-size: 24px;
  line-height: 45px;
  margin: 10px;
}

#portfolio .back {
  -webkit-transform: perspective(600px) rotateY(180deg);
          transform: perspective(600px) rotateY(180deg);
}

#portfolio .back-content {
  position: relative;
  color: #1a242e;
  text-align: center;
  width: 100%;
  background-color: #fff;
  z-index: -3;
}

#portfolio .back-content .text {
  position: relative;
  bottom: -12px;
}

#portfolio .back-content .img {
  position: absolute;
  width: 90%;
  height: 60%;
  top: 20%;
  left: calc(50% - 45%);
  z-index: -2;
  background-size: cover;
  background-position: center;
}

#portfolio .back-content .img-1b {
  background-image: url("../img/jdsol.jpg");
}

#portfolio .back-content .img-2b {
  background-image: url("../img/project1.jpg");
}

#portfolio .back-content .img-3b {
  background-image: url("../img/todolist.jpg");
}

#portfolio .back-content .img-4b {
  background-image: url("../img/barberb.jpg");
}

#portfolio .sm {
  position: absolute;
  top: 90%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

#portfolio .sm a {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  width: 50px;
  height: 0px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #2e2e2e;
  font-size: 30px;
  margin: 10px;
  padding: 20px;
  -webkit-transition: color .4s, background .4s;
  transition: color .4s, background .4s;
  border-radius: 50%;
}

#portfolio .sm a i {
  padding: 15px;
}

#portfolio .sm a:hover {
  background: #2c3e50;
  color: white;
}

#portfolio .card:hover > .front {
  -webkit-transform: perspective(600px) rotateY(-180deg);
          transform: perspective(600px) rotateY(-180deg);
}

#portfolio .card:hover > .back {
  -webkit-transform: perspective(600px) rotateY(0deg);
          transform: perspective(600px) rotateY(0deg);
}

#technologies .tech-list {
  padding: 20px 0;
}

#technologies .tech {
  text-align: center;
}

#technologies i {
  font-size: 46px;
  margin-top: 20px;
  padding: 10px;
  color: #fff;
  text-shadow: 0 0 10px black;
  -webkit-transition: color .4s;
  transition: color .4s;
}

#technologies .tech-text {
  font-size: 18px;
  text-transform: uppercase;
  -webkit-transition: color .4s;
  transition: color .4s;
}

#technologies .jscolor, #technologies .jstxt {
  color: #f0db4f;
}

#technologies .html5color, #technologies .html5txt {
  color: #e34c26;
}

#technologies .css3color, #technologies .css3txt {
  color: #2965f1;
}

#technologies .bscolor, #technologies .bstxt {
  color: #563d7c;
}

#technologies .sasscolor, #technologies .sasstxt {
  color: #cc6699;
}

#technologies .gitcolor, #technologies .gittxt {
  color: #f34f29;
}

@media (min-width: 375px) {
  header h1 {
    font-size: 36px;
  }
  header .hero-text p {
    font-size: 16px;
  }
  #aboutme-hero i {
    font-size: 46px;
    margin-top: 30px;
  }
  #aboutme-hero h3 {
    text-transform: uppercase;
    font-size: 28px;
  }
  #aboutme-hero h2 {
    font-size: 36px;
  }
}

@media (min-width: 414px) {
  #aboutus-hero .jumbotron {
    padding: 80px 0;
  }
}

#contact .jumbotron {
  position: relative;
  background-image: url("../img/contact.jpg");
  background-position: top;
  background-attachment: fixed;
  background-size: cover;
  z-index: 0;
}

#contact .jumbotron h2 {
  color: #fff;
  font-weight: bold;
  text-decoration: none;
}

#contact .jumbotron .underline {
  background-color: #ccc;
}

#contact .jumbotron .contact-shadow {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  background-color: rgba(0, 9, 27, 0.85);
  z-index: -10;
}

#contact .jumbotron .contact-me {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #fff;
}

#contact .jumbotron .contact-me .contacts {
  margin: 100px 0;
}

#contact .jumbotron .contact-me h3 {
  margin-top: 25px;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: #039dff;
}

#contact .jumbotron .contact-me a {
  color: #fff;
  -webkit-transition: color .3s;
  transition: color .3s;
}

#contact .jumbotron .contact-me a:hover {
  text-decoration: none;
  color: #039dff;
}

#contact .jumbotron .contact-me .social-media {
  font-size: 26px;
}

#contact .jumbotron .contact-me .social-media a {
  padding: 10px;
  color: #fff;
  text-shadow: 0 0 5px black;
  -webkit-transition: color .3s;
  transition: color .3s;
  cursor: pointer;
  text-decoration: none;
}

#contact .jumbotron .contact-me .social-media p {
  color: #fff;
}

#contact .jumbotron .contact-me .social-media .linkedin:hover {
  color: #0e76a8;
}

#contact .jumbotron .contact-me .social-media .github:hover {
  color: #f34f29;
}

footer {
  background-color: #ffffff;
  background-image: linear-gradient(315deg, #ffffff 0%, #d7e1ec 74%);
  color: black;
}

footer p {
  padding: 15px;
  text-align: center;
  margin-bottom: 0;
}
/*# sourceMappingURL=main.css.map */